body {
    background-color: #f8f9fa;
}
.container h1 {
    text-transform: uppercase;
    text-align: center;
    font-size: 27px;
    padding-top: 2%;;
}
.navbar {
    background-color: white;
}

.navbar .navbar-collapse .navbar-nav .nav-item .nav-link {
    font-weight: 600;
}
.navbar .navbar-collapse .navbar-nav .nav-item .nav-link:hover {
    font-weight: 700;
    text-decoration: underline;
}


